In [6]:
from frame import DataFrame as df

In [20]:
import pandas as pd
import numpy as np

In [27]:
x = r"C:\Users\evanh\Projects\AT\Data\Binance-BTCUSDT.csv"
pddf = pd.read_csv(x)

In [28]:
data = df.from_pandas(pddf)

In [12]:
data

                        Timestamp     Open     High      Low    Close  \
0       2020-01-01 00:00:00+00:00  7195.24  7196.25  7183.14  7186.68
1       2020-01-01 00:01:00+00:00  7187.67  7188.06   7182.2  7184.03
2       2020-01-01 00:02:00+00:00  7184.41  7184.71  7180.26  7182.43
3       2020-01-01 00:03:00+00:00  7183.83  7188.94  7182.49  7185.94
4       2020-01-01 00:04:00+00:00  7185.54  7185.54  7178.64  7179.78
...                           ...      ...      ...      ...      ...
311656  2020-08-05 01:18:00+00:00  11109.5  11134.4  11108.9  11134.1
311657  2020-08-05 01:19:00+00:00  11134.1  11143.6  11128.2  11137.5
311658  2020-08-05 01:20:00+00:00  11137.9  11147.5  11137.9  11146.5
311659  2020-08-05 01:21:00+00:00    11146  11154.9  11145.8  11153.8
311660  2020-08-05 01:22:00+00:00  11153.7    11155  11149.7    11155

         Volume Quote Asset Volume Number of Trades  \
0       51.6428             371234              493
1       7.24815            52080.1              135
2       11.6817            83903.7              202
3       10.0254            72033.2              136
4       14.9111             107067              161
...         ...                ...              ...
311656  104.428        1.16166e+06             1353
311657  48.0642             535240              903
311658  28.4784             317377              593
311659  32.0999             357931              545
311660  3.77397            42089.9              150

       Taker Buy Base Asset Volume Taker Buy Quote Asset Volume
0                          19.5982                       140888
1                          2.03177                      14599.2
2                          5.47924                      39357.1
3                          3.29497                      23680.6
4                          2.36903                        17012
...                            ...                          ...
311656                     36.3315                       404115
311657                     29.3145                       326451
311658                     13.5086                       150542
311659                     17.3922                       193932
311660                     1.32746                      14803.8

[311661 rows x 10 columns]

In [26]:
data[["Open", "Close"]]

           Open    Close
0       7195.24  7186.68
1       7187.67  7184.03
2       7184.41  7182.43
3       7183.83  7185.94
4       7185.54  7179.78
...         ...      ...
311656  11109.5  11134.1
311657  11134.1  11137.5
311658  11137.9  11146.5
311659    11146  11153.8
311660  11153.7    11155

[311661 rows x 2 columns]

In [31]:
pddf[["Open", "Close"]]

            Open     Close
0        7195.24   7186.68
1        7187.67   7184.03
2        7184.41   7182.43
3        7183.83   7185.94
4        7185.54   7179.78
...          ...       ...
311656  11109.51  11134.06
311657  11134.06  11137.47
311658  11137.90  11146.54
311659  11145.99  11153.80
311660  11153.70  11154.99

[311661 rows x 2 columns]

In [35]:
data.iloc[5:8].values

array([['2020-01-01 00:05:00+00:00', 7179.76, 7182.51, 7178.2, 7179.99,
        12.463243, 89484.36353504, 143, 3.652785, 26225.06962261],
       ['2020-01-01 00:06:00+00:00', 7180.0, 7182.0, 7179.99, 7182.0,
        3.573774, 25662.34790983, 72, 1.678855, 12055.51105524],
       ['2020-01-01 00:07:00+00:00', 7181.7, 7183.77, 7180.91, 7183.66,
        14.470782, 103928.87043062, 147, 7.1667130000000006,
        51474.22381991]], dtype=object)